@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
body{
  font-family: 'Questrial', sans-serif!important;
}
.dash {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
 
  height: 195px;
  margin: 15px 0 30px;
  box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.2);
 float: left;
 margin: 2rem;
}
.dash:hover .overlay {
  opacity: 1;
}
.dash-area {
  align-items: center;
    height: auto;
    padding-top: 20px;
    display: grid;
    float: right;
    width: 80%;
}
.detail > span {
  cursor: pointer;
}
.detail > span:nth-child(1) {
  width: 80%;
  height: 20px;
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 50px;
  border: 3px solid white;
  color: white;
}
.detail > span:nth-child(2) {
  color: white;
    position: absolute;
    top: 26px;
    right: 26px;
    font-size: 2.5rem;
}
.overlay {
  opacity: 0;
  
  width: 100%;
  height: 100%;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease-in-out 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.product-name {
  
  text-align: center;
  color: black;
  font-size: 2rem;
}
.product-name span{
 font-weight: bolder;
}
.product-name h6{
  padding: 25px;
  font-weight: 100;
  font-size: 1rem;;
 }

.product-name span{
  line-height: 2;
}
.dash .glyphicon{
  font-size: 80px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .dash{
    width: 90%;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .dash{
    width: 43%;
  }
} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .dash{
    width: 44%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .dash{
    width: 29%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .dash{
    width: 20%;
  }
}






.user span {
  
  padding: 0 10px;
  cursor: pointer;
  font-weight: bolder;
}



.subnav {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-size: 0.875em;
  background: #fff;
  border-bottom: 1px solid #ddd;
  color: #555;
  line-height: 40px;
  padding: 0 10px;
  transition: all 200ms;
}
.subnav.show {
  max-height: 50px;
  opacity: 1;
}
.subnav a {
  display: inline-block;
  margin: 0 10px;
  margin-bottom: -1px;
  padding: 0 5px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
.subnav a:hover {
  color: #333;
}
.subnav a.current {
  color: #e25d5b;
  border-bottom-color: #e25d5b;
}

.main-nav {
  padding: 0 10px;
}
.main-nav a {
  padding: 0 10px;
}
.main-nav a:hover, .main-nav a.current {
  color: white;
}

.user {
  float: right;
  position: relative;
  display: inline-block;
}
.user.expand .user-name {
  right: 100%;
}
.user.expand .entypo-left-open {
  transform: rotate(180deg);
}
.user.expand .user-nav {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.entypo-left-open {
  display: inline-block;
  transition: transform 250ms ease-in-out;
}

.user-name {
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  transition: right 200ms ease;
  box-sizing: border-box;
  border-right: 2px solid rgba(255, 255, 255, 0.85);
  height: 100%;
}
.user-name:hover {
  color: white;
}

.user:not(.expand) .entypo-left-open {
  animation: glow 1.5s infinite;
}

.user-nav {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 0 15px;
  
  box-shadow: inset 1px 0 4px rgba(0, 0, 0, 0.35);
  background: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms;
}
.user-nav a {
  display: inline-block;
  text-align: center;
  min-width: 20px;
  padding: 0 15px;
  /* margin: auto 0; */
  /* margin: auto; */
  /* margin-bottom: auto; */
  margin-top: 7%;
  color: rgba(255, 255, 255, 0.5);
  /* vertical-align: top; */
  text-decoration: none;
}
.user-nav a:hover {
  color: white;
}
.user-nav a:last-child {
  padding: 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.user-nav label {
  font-size: 12px;
  line-height: 20px;
}
.user-nav label,
.user-nav span {
  display: block;
  cursor: inherit;
}
.user-nav span {
  line-height: 24px;
  margin: 0;
}
.user-nav span:hover {
  color: white;
}
.dash a:hover{
  color: #f06529;
}
.dash a{
  color: #081c4f;
}

.card {
 
  height: 550px;
  margin: 50px auto;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: #bbb 10px 10px 10px 0;
}

.box {
 
  height: 150px;
  
}

.perfil img {
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: -100px 0 10px 25px;
  border: 5px solid #f2f5f8;
  box-shadow: #dcdcdc 3px 3px 3px 0;
}
.perfil img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all 0.5s ease;
}

.nombre {
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px
}

.descripcion {
  font-size: 1em;
    color: #ffffff;
    text-align: center;
    margin: 10px 20px;
}

.iconos i {
  margin: 20px 0 0 40px;
  font-size: 20px;
  color: #232323;
}
.iconos i:hover {
  color: #494949;
}

.iconos {
  padding-bottom: 30px;
  border-bottom: 1px solid #c4c4c4;
}

.enlace {
  background-color: #F44336;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 100% 0 0 30px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
}
.enlace:hover {
  background: #fff;
  color: #6578B9;
  box-shadow: inset 0 0 0 3px #6578B9;
}
.enlace:hover i {
  font-size: 1em;
}

.nombre-post{
  font-size: 2rem;
  font-weight: bold;
}
.detalles-post{
  
}
.modal__footer{
  margin-top: 30px;
}
.nombre-post hr{
  width: 100%;
  height: 1px;
  background-color: #777;
  margin-top: 10px;
  margin-bottom: 10px;
}
.vistas{
  font-size: 10px;

}
.url a{
  margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.pencil{
  font-size: 3rem;
  margin: 20px;
  cursor: pointer;
}





.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.file-upload-input {
  width: 300px;
  color: #fff;
  font-size: 16px;
  padding: 11px 17px;
  border: none;
  background-color: #c0392b;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  /* IE 9 Fix */
}
.file-upload-input:hover, .file-upload-input:focus {
  background-color: #ab3326;
  outline: none;
}

.file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px 20px;
  border: none;
  margin-left: -1px;
  background-color: #962d22;
  float: left;
  /* IE 9 Fix */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.file-upload-button:hover {
  background-color: #6d2018;
}
